<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.crosswordtogo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        
        <provider android:name="com.example.crosswordtogo.logic.CrosswordProvider"
            android:authorities="com.example.crosswordtogo.providers.CrosswordProvider" >
        </provider>

        <activity
            android:name="com.example.crosswordtogo.screens.menu.MenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.crosswordtogo.screens.OpenCrosswordActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.crosswordtogo.screens.AppOptionsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
    		android:name="com.example.crosswordtogo.screens.TemplateChooserActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
    		android:name="com.example.crosswordtogo.screens.BlockChooserActivity"
            android:configChanges="orientation"
            android:label="@string/app_name" >
        </activity>
        <activity
			android:name="com.example.crosswordtogo.screens.EditCrosswordActivity"
            android:configChanges="orientation"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>